@import "../src/common/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  background: rgba(0, 0, 0, 0.598);
}

.content-container {
  padding: 10px 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

body {
  background: url("./images/netflix.jpg") no-repeat;
  background-size: cover;
}
.container {
  margin: 0px auto;
}
